<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Reservas</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-reserve">Agregar</button>
            <h5 style="margin-top: 30px;" *ngIf="reserves.length == 0">No hay datos para mostrar</h5>
            <table *ngIf="reserves.length > 0" class="table table-sm table-striped mt-5 ">
                <thead>
                  <tr>
                    <th>Nombre del Cliente</th>
                    <th>Bicicleta Asignada</th>
                    <th>Numero de Documento</th>
                    <th>Total</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reserve of reserves">
                    <td>{{ reserve.nameOfClient }}</td>
                    <td>{{ reserve.idBike }}</td>
                    <td>{{ reserve.documento }}</td>
                    <td>{{ reserve.total | currency }}</td>

                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editreserve/', reserve.id]"></i>
                      <i (click)="deleteReserve(reserve.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>