<div class="container pt-4">
    <div class="col-lg-6 offset-lg-3">
        <div class="card text-center">
            <div class="card-body">
                <h3>{{ titulo }}
                    <div *ngIf="loading" class="spinner-border float-right" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </h3>

                <span *ngIf="submitted && createReserve.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON
                    OBLIGATORIOS</span>

                <div class="barcode-reader">
                    <app-bar-code-reader (returnedData)=recibirDataQR($event)></app-bar-code-reader>
                </div>

                <form class="mt-4" [formGroup]="createReserve" (ngSubmit)="agregarEditarEmpleado()">

                    <div class="form-group">

                        <div class="input-group">

                            <input type="text" class="form-control form-control-lg mt-3" formControlName="client"
                                placeholder="Nombre del Cliente">

                            <input type="text" class="form-control form-control-lg mt-3"
                                formControlName="documentNumber" placeholder="N° Documento">
                        </div>

                        <div class="input-group">


                            <input type="number" class="form-control form-control-lg mt-3" formControlName="amount"
                                placeholder="Cantidad">

                                <input type="text" class="form-control form-control-lg mt-3" formControlName="idBikes"
                                placeholder="Vehiculos">
                        </div>



                    </div>
                

                    <input type="text" class="form-control form-control-lg mt-3" formControlName="valuePerHour"
                        placeholder="Valor por hora">




                    <input type="text" class="form-control form-control-lg mt-3" formControlName="departureTime"
                        placeholder="Hora Salida"  [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                        <owl-date-time #dt></owl-date-time>


                    <input type="text" class="form-control form-control-lg mt-3" formControlName="arriveTime"
                        placeholder="Hora llegada"  [owlDateTimeTrigger]="at" [owlDateTime]="at">
                        <owl-date-time #at></owl-date-time>

                    <input type="text" class="form-control form-control-lg mt-3" formControlName="totalValue"
                        placeholder="Valor Total">

                    <input type="number" class="form-control form-control-lg mt-3" formControlName="commision"
                        placeholder="Comision">

                    <input type="text" class="form-control form-control-lg mt-3" formControlName="finalValue"
                        placeholder="Valor Final">

                    <div class="mt-3">
                        <button type="text" class="btn btn-secondary btn-lg mr-3"
                            routerLink="/list-reserves">Volver</button>
                        <button type="submit" class="btn btn-dark btn-lg">Agregar</button>

                    </div>
                </form>


            </div>
        </div>
    </div>
</div>